 <!-- <div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
               <div class="card">
                   <div class="card-header card-header-danger">
                      <h4 class="card-title ">Simple Table</h4>
                      <p class="card-category"> Here is a subtitle for this table</p>
                  </div>
                  <div class="card-body">
                    
                      <div class="card" style="width: 18rem;">
                        <img src="..." class="card-img-top" alt="...">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Plan it</a>
                        </div>
                      </div>

                   
                  </div> 
              </div> 
          </div>

          
     
      </div>
  </div>
</div>  -->
<div class="main-content">
  <div class="container-fluid">
    <div class="row">
      
      <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
              <img class="image" mat-card-image src="./assets/img/goals/house.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">House</h5>
                <p class="card-text">Want to buy new house in future.</p>
                <a href="#/goals/goaldetails" class="btn btn-primary">Plan it</a>
              </div>
            </div>
      </div>

      <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
              <img class="image" mat-card-image src="./assets/img/goals/car.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Vehicle</h5>
                <p class="card-text">Want to have 2 wheeler/4 wheeler for you or your family.</p>
                <a href="#/goals/goaldetails" class="btn btn-primary">Plan it</a>
              </div>
            </div>
      </div>
      <div class="col-sm-4">
          <div class="card" style="width: 18rem;">
              <img class="image" mat-card-image src="./assets/img/goals/edu.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">Edualtion</h5>
                <p class="card-text">Planning for kids education or yours higher studies.</p>
                <a href="#/goals/goaldetails" class="btn btn-primary">Plan it</a>
              </div>
            </div>
      </div>
    </div>

    <div class="row">
        
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="image" mat-card-image src="./assets/img/goals/party.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Party</h5>
                  <p class="card-text">Have a party with your family or freinds.</p>
                  <a href="#/goals/goaldetails" class="btn btn-primary">Plan it</a>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="image" mat-card-image src="./assets/img/goals/holiday.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Holiday</h5>
                  <p class="card-text">Spend some quality time with your freinds and family.Go for vacations.</p>
                  <a href="#/goals/goaldetails" class="btn btn-primary">Plan it</a>
                </div>
              </div>
        </div>
        <div class="col-sm-4">
            <div class="card" style="width: 18rem;">
                <img class="image" mat-card-image src="./assets/img/goals/health.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <h5 class="card-title">Healthcare</h5>
                  <p class="card-text">Keep yourself and your family health.Plan routine checkps .</p>
                  <a href="#/goals/goaldetails" class="btn btn-primary">Plan it</a>
                </div>
              </div>
        </div>
      </div>
  </div>
</div>
