<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-8">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title">Personal Details</h4>
                      <p class="card-category">Complete your profile</p>
                  </div>
                  <div class="card-body">
                      <!-- <form class="container"  [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                          <h5>
                        
                          <div class="form-row">
                              <div class="col-md-6 mb-3">
                                <label for="validationDefault06">First Name</label>
                                <input type="text" class="form-control"  formControlName="fname" id="validationDefault06" placeholder="Father name" required>
                              </div>
                              
                            </div>
                          
                              <div class="form-row">
                                  <div class="col-md-6 mb-3">
                                    <label for="validationDefault06">Email</label>
                                    <input type="email" class="form-control"  formControlName="email" id="validationDefault06" placeholder="Enter your mail"  required>
                                  </div>
                              
                                </div>
                          
                          <button type="submit" class="btn  btn-block" style="background-color:rgb(15, 156, 199)" ><Strong>Submit</Strong></button>
                        </h5>
                        </form> -->
                       <form class="container"  [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
                          <div class="row">
                              <div class="col-md-6">
                                   <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Username">
                                  </mat-form-field> 
                                  <input type="text" class="form-control" formControlName="Uname" id="validationDefault01" placeholder="Username"  required>
                              </div>
                              <div class="col-md-6">
                                   <mat-form-field class="example-full-width">
                                    <input matInput placeholder="Email address" type="email">
                                  </mat-form-field> 
                                  <input type="text" class="form-control" formControlName="email" id="validationDefault01" placeholder="Email"  required>
                              </div>
                          </div>
                           <div class="row">
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="First Name" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-6">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Last Name" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Address" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="City" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Country" type="text">
                                </mat-form-field>
                              </div>
                              <div class="col-md-4">
                                <mat-form-field class="example-full-width">
                                  <input matInput placeholder="Postal Code" type="text">
                                </mat-form-field>
                              </div>
                          </div>
                          <div class="row">
                              <div class="col-md-12">
                                <mat-form-field class="example-full-width">
                                   <textarea matInput placeholder="About Me"></textarea>
                                 </mat-form-field>
                                 
                              </div>
                          </div>
                           <button mat-raised-button type="submit" class="btn btn-danger pull-right">Update Profile</button>
                          <div class="clearfix"></div> 
                         <!-- <button type="submit" class="btn  btn-block" style="background-color:rgb(15, 156, 199)" ><Strong>Submit</Strong></button>-->
                      </form>  
                  </div>
              </div>
          </div>
      <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="javascript:void(0)">
                        <img class="img" src="./assets/img/faces/marc.jpg" />
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                    <h4 class="card-title">Alec Thompson</h4>
                    <p class="card-description">
                        Don't be scared of the truth because we need to restart the human foundation in truth And I love you like Kanye loves Kanye I love Rick Owens’ bed design but the back is...
                    </p>
                    <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                </div>
            </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8">
          <div class="card">
              <div class="card-header card-header-danger">
                  <h4 class="card-title">Bank Details</h4>
                  <p class="card-category">Complete your bank profile</p>
              </div>
              <div class="card-body">
                  <form>
                      <div class="row">
                       
                          <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Bank Name">
                              </mat-form-field>
                          </div>
                          <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Account Number" type="text">
                              </mat-form-field>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="IFSC Code" type="text">
                            </mat-form-field>
                          </div>
                       
                      </div>
                      <div class="row">
                          <div class="col-md-12">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Bank Address" type="text">
                            </mat-form-field>
                          </div>
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Bank Balance" type="text">
                            </mat-form-field>
                          </div>
                         
                      </div>
                      <div class="row">
                          <div class="col-md-6">
                            <label>Any FD's</label>
                            <mat-form-field class="example-full-width">
                               <input matInput placeholder="FD Amount" type="text">
                             </mat-form-field>
                              
                          </div>
                          <div class="col-md-6">
                            <label>Any RD's</label>
                            <mat-form-field class="example-full-width">
                               <input matInput placeholder="RD Amount" type="text">
                             </mat-form-field>
                            </div>
                      </div>
                      <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save Details</button>
                      <div class="clearfix"></div>
                  </form>
              </div>
          </div>
      </div></div>
      <div class="row">
        <div class="col-md-8">
          <div class="card">
              <div class="card-header card-header-danger">
                  <h4 class="card-title">Property Details</h4>
                  <p class="card-category">Complete your property profile</p>
              </div>
              <div class="card-body">
                  <form>
                      <div class="row">
                        
                          <div class="col-md-6">
                          <div class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                              Property type
                            </button>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                              <a class="dropdown-item" href="#">Land</a>
                              <a class="dropdown-item" href="#">Flat</a>
                              <a class="dropdown-item" href="#">Others</a>
                            </div>
                          </div>
                          </div>
                        </div>
                          <div class="row">
                          <div class="col-md-6">
                              <mat-form-field class="example-full-width">
                                <input matInput placeholder="Property Name" type="text">
                              </mat-form-field>
                          </div>
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Area" type="text">
                            </mat-form-field>
                          </div>
                        </div>
                          
                      <div class="row">
                          <div class="col-md-6">
                            <mat-form-field class="example-full-width">
                              <input matInput placeholder="Present Worth" type="text">
                            </mat-form-field>
                          </div>
                        </div>
                         
                      <button mat-raised-button type="submit" class="btn btn-danger pull-right">Save Details</button>
                      <div class="clearfix"></div>
                  </form>
              </div>
          </div>
      </div>
  </div>
</div>